/* Style found in stackoverflow, helps with straightening out the footer */
html {
    position: relative;
    min-height: 100%;
    overflow: auto;
}

li {
    display: inline;
    margin-right: 10px;
    margin-left: 0px;
}

a {
    color: #EF7126;
    font-family: 'Monserrat', sans-serif;
}
/* The margin and padding is to avoid the distance between the header and the upper part of your browser */
body {
    margin: 0;
    padding: 0;
    background-color: #181818;
}

#intro {
    color: white;
}

#navbar {
    background-color: #473E3F;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Style for the animated header in index */
.glow {
    font-size: 50px;
    font-family: 'DotGothic16', sans-serif;
    color: #8EDC9D;
    text-align: center;
    -webkit-animation: glow 10s ease-in-out infinite alternate;
    -moz-animation: glow 10s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #000000, 0 0 20px #218C8D, 0 0 30px #6CCECB, 0 0 40px #8EDC9D, 0 0 50px #218C8D, 0 0 60px #218C8D, 0 0 70px #000000
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #218C8D, 0 0 60px #000000, 0 0 70px #218C8D, 0 0 80px #218C8D;
    }
}

#projectHeader {
    margin-left: 5px;
    color: white;
}
/* Basic settings for the html elements I used */
h1 {
    margin-left: 5px;
    color: white;
}

h2 {
    margin-left: 5px;
    color: white;
    font-family: 'Monserrat', sans-serif;
}

h3 {
    margin-left: 1px;
    font-family: 'DotGothic16', sans-serif;

}

h4 {
    margin-left: 1px;
    font-family: 'Monserrat', sans-serif;
}

p {
    margin-left: 5px;
    font-family: 'Monserrat', sans-serif;
}

.projectText {
    color: white;
}

#skillsAndProjects {
    background-color: rgba(0, 128, 128, 0.7);
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    border-radius: 25px;
    margin-bottom: 20px;
}

#currentProjects {
    background-color: #EF7126;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    border-radius: 25px;
    margin-bottom: 20px;
}

#footerIndex {
    background-color: #473E3F;
    color: #EF7126;
    padding-top: 5px;
    padding-bottom: 5px;

}
/* Style for progress bars in index */
.wrapper {
    width: 500px;
}

.progress-bar {
    width: 100%;
    background-color: #717171;
    padding: 3px;
    height: 23px;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 23px;
    background-color: #F9E559;
    border-radius: 20px;
    transition: width 500ms ease-in-out;
}
/* Style for collapsible in projects */
.collapsible {
    background-color: #eee;
    background-color: rgba(0, 128, 128, 0.7);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 3px;
}
.collapsible2 {
    background-color:  #EF7126;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 3px;
}

.content {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 2px;

}

#content-wrap {
    padding-bottom: 2.5rem;
}
/* Style for the footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
/* Buffer added to avoid overlap with collapsibles */
#buffer{
    margin-bottom: 3rem;
}
/* Style for the main div in contact */
#contact{
    color:white;
    background-color: rgba(33, 140, 141, 0.7);
    padding:3px;
}

/* Start card style rules */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:8px;
    background-color: #F9E559;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 8px 16px;
}

#sirohccoImages{
    padding-top: 5px;
}
